<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>My Website</title>

	</head>
	<body>
      
       <header th:fragment="headerFragment">
	        <div class="container">
	            <div class="header-top">
                   <h1>
	                  <a th:href="@{/admin/top}">Make_web</a>
	               </h1>
                </div>
	            <nav>
	                <div class="menu-icon">
	                    <span>管理者</span>
	                </div>
	                <ul class="nav-links">
                        <li><a th:href="@{/admin/item_click}">アクセス分析</a></li>
	                    <li><a th:href="@{/admin/inquirys}">お問い合わせ一覧</a></li>
						<li><a th:href="@{/admin/items}">投稿一覧</a></li>
	                    <li><a th:href="@{/admin/genre}  + '?id=0'">ジャンル</a></li>
						<li><a th:href="@{/admin/edit_item} + '?id=0'">新規投稿</a></li>
						<li>
					        <a th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">ログアウト</a>
					        <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
					            <input type="hidden">
					        </form>
					    </li>
	                </ul>
	            </nav>
	        </div>
	    </header>
	
	    <script src="scripts.js"></script>
			    
	</body>
</html>
